{#
 * This file is part of the YesWiki Extension hpf.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * Feature UUID : hpf-receipts-creation
 *
 * generate HTML needed to generate pdf for receipts
 *#}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />

        <title>{{ structureInfo.name ?? '<Nom de la structure>' }} : reçu du paiment {{paymentId}}</title>

        {# <link rel="stylesheet" href='styles/file.css'> #}
    </head>

    <body>
        Test
    </body>
</html>