/*
 * This file is part of the YesWiki Extension Hpf.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.payment-collapse-button:not(.collapsed) .show-collapsed {
    display: none;
}
.payment-collapse-button.collapsed .show-collapsed {
    display: initial;
}
.payment-collapse-button:not(.collapsed) .hide-collapsed {
    display: initial;
}
.payment-collapse-button.collapsed .hide-collapsed {
    display: none;
}

.datepicker-container {
    display: inline-block;
}

.datepicker-container > div:first-child {
    width: 130px;
    overflow: hidden;
    height: 34px;
}
.datepicker-container > div:first-child > input {
    width: 130px;
}